<h3>Zamówienie</h3>
<div>
    <form class="order-form" name="orderForm" novalidate>
        <div class="order-box">
            <div class="order-box-parameter">
                <h4>Twoje dane:</h5>
            </div>
            <div class="order-box-parameter">
                Imię: <label><input name="name" type="text" ng-model="$ctrl.order.name" required="" /></label>
            </div>
            <div class="order-box-parameter">
                Wiek: <label><input name="age" type="number" ng-model="$ctrl.order.age" required="" /></label>
            </div>
        </div>

        <div class="order-box">
            <div class="order-box-parameter">
                <h4>Wybierz kolor i rozmiar:</h5>
            </div>
            <div class="order-box-parameter space-between">
                Rozmiar: <label ng-repeat="(key, answer) in $ctrl.itemSizes"><input type="radio" value="{{ key }}"
                        ng-model="$ctrl.temporaryItem.size" />{{answer}}</label>
            </div>
            <div class="order-box-parameter">
                Kolor: <select ng-model="$ctrl.temporaryItem.color" ng-options="key as answer for (key, answer) in $ctrl.itemColors">
                </select>
            </div>
            <button class="button-primary" ng-click="$ctrl.addItem($ctrl.temporaryItem); orderForm.$pristine = false">Dodaj!</button>
        </div>

        <app-item-list items="$ctrl.order.items"></app-item-list>

        <div>
            <input class="button-primary submit" type="submit"
                ng-click="orderForm.$valid && $ctrl.order.items.length > 0 && $ctrl.send($ctrl.order, orderForm)"
                value="Wyślij!" />
            <div ng-show="!orderForm.$pristine">
                <label ng-show="orderForm.name.$error.required">Podaj proszę imię!</label>
                <label ng-show="orderForm.age.$error.required">Podaj proszę wiek!</label>
                <label ng-show="$ctrl.order.items.length < 1">Brakuje zamówienia!</label>
            </div>
        </div>
    </form>
</div>